{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Editar "{{ post['title'] }}" {% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            <label for="title"> Nome </label>
            <input type="text" name="title" placeholder="Nome do produto"
                class="form-control"
                value="{{ request.form['title'] or post['title'] }}">
            </input>
        </div>

        <div class="form-group">
            <label for="content"> Descrição </label>
            <textarea name="content" placeholder="Descrição do produto"
                    class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success"> Editar produto </button>
        </div>
    </form>
    <hr>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Apagar produto"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete this post?')">
    </form>
{% endblock %}